body {
  font-family: "Helvetica Neue", serif;
  background-color: #232323;

  p {
    color: white;
  }

  h1 {
    color: #ffff00;
  }

  .bright {
    color: aquamarine;
  }

  .time-text {
    font-family: 'Courier New', monospace;
    font-size: large;
    color: crimson;
  }
}