body {
  font-family: "Helvetica Neue", serif;
  background-color: #232323;
}
body p {
  color: white;
}
body h1 {
  color: #ffff00;
}
body .bright {
  color: #adadad;
}
body .dim {
  color: rgba(59, 132, 255, 0.59);
}
body .time-text {
  font-family: 'Courier New', monospace;
  font-size: large;
  color: crimson;
}
body .numbered {
  font-family: 'PT Mono', monospace;
  color: white;
}
body .signal-id {
  font-family: 'Consolas', monospace;
  color: rgba(121, 136, 136, 0.64);
}
body .signal-label {
  font-family: 'Consolas', monospace;
  color: rgba(255, 255, 255, 0.2);
}
body .correlation-id {
  font-family: 'Courier New', monospace;
  color: white;
}
body .spacer {
  padding-bottom: .4em;
}
body .transaction-id {
  font-family: 'Courier New', monospace;
  color: rgba(221, 248, 248, 0.52);
}
body .greeting {
  margin-bottom: 0;
  color: #269abc;
}
body .buffer-right {
  padding-right: 0.5em;
}
body .bg-details {
  background-color: white;
}
